body {
    margin: 8px;
    display: block;
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #5e695b;
}

header {
    background-color: #a4a68b;
    padding: 60px 60px 5px;
 }
.headNav {
    
    color: #ffffff;
    font-size: 30px;
    text-align: center;
} 
.titleColumns {
    display: flex;
}
.leftColumn {
    margin: 0px;
    width: 20%;
    text-align: right;
}

.rightColumn {
    margin: 0px;
    width: 80%;
    text-align: left;
}

.mainLogo {
    width: 200px;
    height: 200px;
} 

#mainHeading {
    color: red;
}

.funParagraph {
    color: green;
}

.homeTitle {
    text-align: center;
    font-size: 50px;
}
article {
    background: #ffffff;
    padding: 20px;
    
}

#getStartedDiv{
    
    background-color: #eeeae8;
    color: #a4a68b;
    padding: 50px;
}

#aboutDiv {
    background-color: white;
    padding: 50px;
}

button {
    color: #5e695b;
    background: #eeeae8;
    margin: 10px;
    border-radius: 3px;
    border-color: #ccbf92;
    
}



h1 {
    color: #2b2b2b;
}

a {
    color:#5e695b;
}

a:visited {
    color: #ccbf92;
}

a:hover,a:focus{
    color: #2b2b2b;
}

.footNav {
    background-color: #5e695b;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
}

#copyTradeMark {
    text-align: center;
}